<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="URL" value="http://node9257-diyalo.ktm.yetiappcloud.com:8080/customer/webresources/booking/"/> <!--base URL + rout Names-->
    <add key="Username" value="chhitopaisa"/>
    <add key="Password" value="chhitopaisa@PP"/>
  </appSettings>
</configuration>